
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding: 0 10%;
  background-color: lightgray;
}

.body {
  border: none;
  margin: 0;
  padding: 0;
}
.logo {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: 0.2s;
  color: rgb(51, 47, 47);
}

.title:hover {
  color: rgb(8, 21, 34);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 46px;
  list-style: none;
}

.menuItems a {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: black;
}

.menuItems a:hover {
color: rgb(131, 30, 255);
}


@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items:baseline; 
    padding:2%;
  }

  .title {
    font-size: 21px;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 6px;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 4%;
    gap: 0px;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    width: 36px;
    filter: invert(46%) sepia(98%) saturate(3860%) hue-rotate(192deg) brightness(92%) contrast(91%);
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    background: lightgray;
    padding: 20px 36px;
    margin-top:0px;
    position: relative;
    right: 0px;
    
  }

  .menuOpen {
    display: flex;
    
  }
}
